.contact-section{
  background-color: var(--gray1);
}

.col-map{
  background-color: var(--white);
  width: 100%;
  height: 267px;
}

.col-form{
  background-color: var(--white);
  padding: 20px;
}

#map{
  width: 100%;
  height: 267px;
}

.formulario{
  display: flex;
  flex-direction: column;
}

.formulario input{
  width: 100%;
  height: 35px;
}

.formulario button{
  color: var(--white);
  background-color: var(--green);
  border-color: var(--green);
}

.input-group{
  position: relative;
}

.input-group input, textarea{
  width: 100%;
  margin-bottom: 25px;
  padding: 10px;
  outline: none;
  border: 2px solid var(--gray2);
  border-radius: 4px;
}

.input-group label{
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 14px;
  color: #66738A;
  transition: 0.5s;
}

.input-group input:focus, textarea:focus{
  border: 2px solid var(--green);
}

.input-group input:focus ~ label, textarea:focus ~ label{
  font-size: 14px;
  color: var(--brown);
}

.input-group input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label{
  top: -18px;
  left: 1px;
} 

.rodape a{
  font-weight: 700;
}

.social-networks{
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.institucional{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 992px) {
  .contact-section .container{
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin: 30px 30px 0;
    padding-top: 45px;
  }
  .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  .col-map{
    width: 54%;
    height: auto;
  }
  #map{
    height: 591px;
  }
  .institucional{
    width: 600px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
  }
}