.initial-section{
  background-color: var(--bg-2);
}

.logo {
  text-align: right;
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  top: 3px;
}

header {
  background-color: var(--bg-1);
}

.menu a {
  display: block;
  padding: 10px 30px;
  border-top: 1px solid var(--border-input);
  text-align: left;
}

.menu a:hover {
  background-color: var(--bg-2);
  font-weight: bold;
}

.container {
  padding: 30px 35px;
}

.container p {
  margin-bottom: 30px;
}

#icon-menu {
  display: block;
  padding: 15px 30px;
  cursor: pointer;
}

.cta-button {
  background-color: var(--primary-color);
  color: var(--button-text);
  border-color: var(--primary-color);
}

.cta-button:is(:hover,:focus){
  background-color: var(--cta-button-color);
  border-color: var(--cta-button-color);
}

.kw-button {
  background-color: transparent;
  color: var(--button-color);
  border-color: var(--button-color);
}

.kw-button:is(:hover,:focus){
  box-shadow: inset 0 0 0 2em var(--button-color);
  color: var(--button-text);
  border-color: var(--button-color);
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
  }
  nav {
    display: block;
  }
  #icon-menu {
    display: none;
  }
  .menu li {
    display: inline-block;
  }
  .menu a {
    display: inline-block;
    border-top: none;
    font-size: 1.5rem;
  }
  .logo {
    margin-left: 10px;
    position: initial;
  }
}

@media screen and (min-width: 992px){
  header{
    background-color: transparent;
    justify-content: space-between;
    margin: 0 35px;
  }
  .img-initial-section{
    display: none;
  }
  .initial-section{
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }
  .container{
    width: 450px;
    margin: 160px 30px;
  }
  .container p{
    font-size: 1rem;
  }
}