.logo {
  text-align: right;
  padding: 10px 20px;
}

header {
  background-color: var(--gray1);
}

.menu a {
  display: block;
  padding: 10px;
  border-top: 1px solid var(--gray2);
  text-align: center;
}

.menu a:hover {
  background-color: var(--white);
  font-weight: bold;
}

.container {
  padding: 30px 35px;
}

.container p {
  margin-bottom: 30px;
}

#icon-menu {
  display: block;
  /* background-color: var(--brown); */
  /* color: var(--white); */
  cursor: pointer;
}

.cta-button {
  background-color: var(--green);
  color: var(--white);
}

.kw-button {
  background-color: transparent;
  color: var(--brown);
  border-color: var(--brown);
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
  }
  nav {
    display: block;
  }
  #icon-menu {
    display: none;
  }
  .menu li {
    display: inline-block;
  }
  .menu a {
    display: inline-block;
    border-top: none;
    font-size: 24px;
  }
  .logo {
    padding: 10px 0;
  }
  h1, h2{
    font-size: 36px;
  }
  p, button{
    font-size: 24px;
  }
}

@media screen and (min-width: 992px){
  header{
    background-color: transparent;
    justify-content: space-between;
    margin: 0 65px;
  }
  .img-section-one{
    display: none;
  }
  .section-one{
    background-image: url('/image/bg-section-one-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }
  .container{
    width: 450px;
    margin: 160px 30px;
  }
}