@media (prefers-color-scheme: dark){
  :root{
    --bg-1: #241E1A;
    --bg-2: #181A1B;
    --primary-color: #008C74;
    --secundary-color: #DDB886;
    --border-input: #D9D9D9;
    --bg-input: #3B3B3B;
    --label-text: #9C9487;
    --button-text: #E8E6E3;
    --link: #52FFE1;
  }
}

@media(prefers-color-scheme: light){
  :root{
    --bg-1: #F7F5F4;
    --bg-2: #FFFFFF;
    --primary-color: #00AF91;
    --secundary-color: #4C2D1D;
    --border-input: #D9D9D9;
    --bg-input: #FFFFFF;
    --label-text: #66738A;
    --button-text: #FFFFFF;
    --link: #00AF91;
  }
}

