:root {
  --bg-1: #f7f5f4;
  --bg-2: #ffffff;
  --primary-color: #00af91;
  --secundary-color: #4c2d1d;
  --border-input: #d9d9d9;
  --bg-input: #ffffff;
  --label-text: #66738a;
  --button-text: #ffffff;
  --button-color: #464132;
  --cta-button-color: #007255;
  --link: #00af91;
  --bg-image: url("/image/bg-section-one-desktop.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: #241e1a;
    --bg-2: #181a1b;
    --primary-color: #008c74;
    --secundary-color: #ddb886;
    --border-input: #d9d9d9;
    --bg-input: #3b3b3b;
    --label-text: #9c9487;
    --button-text: #e8e6e3;
    --cta-button-color: #45BEA5;
    --link: #52ffe1;
    --bg-image: url("/image/bg-image-dark.png");
  }
}
